name: reviewdog
run-name: run Linter and comment to PR
on: [pull_request]
jobs:
  linter_name:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - uses: reviewdog/action-black@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workdir: main
          reporter: github-pr-check
          level: error
          fail_level: error
